bcrypt==4.2.1
greenlet==3.1.1
Jinja2==3.1.4
MarkupSafe==3.0.2
numpy==2.1.2
packaging==24.1
Panda3D==1.10.14
pandas==2.2.3
PyMySQL==1.1.1
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
qt-material==2.14
QtAwesome==1.3.1
QtPy==2.4.1
six==1.16.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
tzdata==2024.2
